@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Nunito:ital@0;1&display=swap');

body {
    display: flex;
    flex-direction: column;

}
.estilo-home{
    width: 100%;
    height: 100vh;
    background-color: #132d47;
    display: flex;
    justify-content: space-around;
}
.estilo-home svg{
    height: 2rem;
    color: white;
}
.home-logo{
    position: absolute;
    top: 40%;

}
.home-logo a{
    list-style: none;
}
.estilo-home img{
    height: 3rem;
    color: white;
    align-self: center;
    animation: log 3s infinite alternate;
}
@keyframes log {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 6;
    }
}

.banner{
    background-color: #edb709;
    overflow: hidden;
}
.banner p{
    margin: 0;
    background-color: #edb709;
    font-size: 11px;
    position: relative;
    padding-left: 110%;
    overflow: hidden;
    animation: mov 20s linear infinite;
}
@keyframes mov{
    0%{
        transform: translateX(25%);
    }
    100%{
        transform: translateX(-110%);
    }
}
.navLogo{
    font-weight: bold;
}
.nav-options{
    font-weight: bold;
    font-size: 20px;
}
.bgNav , .bgNav1, .bgNav2, .bgLogo{
    background-color: #14436f;
}
.navbar-toggler-icon{
    background-color: #14436f;
}
.navbar-light .navbar-nav .nav-link{
    color: white !important;

    font-weight: 600;
}
.navbar-collapse{
    height: auto;
}
.style-generos{
    background-color: #132d47;
}
.titulo-generos{
    font-size: 15px;
    margin: 15px;
}
.list-group-item{
    background-color: #132d47!important;
    font-size: 13px;
    color: hsla(0,0%,100%,.5)!important;
    border-bottom: 1px solid hsla(0,0%,100%,.15)!important;
}
.list-group-item:hover{
    color: white!important;
}
.principal{
    background-color: #122231;
    
}
.principal h2{
    font-size: 20px;
    padding: 8px;
}
.card-estilo{
    border-style: none!important;
    box-shadow: 1px 1px 5px rgb(17, 17, 17);
    
}
.card-name{
    background-color: #0b151b;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.card-imagen{
    border: none;
    min-height: 24rem;
}
.card-img-bottom{
    border: none;
}
.row .col .card{
    border: none;
}
.tituloCol1{
    font-weight: bold;
    font-size: 20px;
}
.footer{
    height: 18vh;
    margin-top: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 50px rgb(102, 102, 102);

}