@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Nunito:ital@0;1&display=swap');

body {
    display: flex;
    flex-direction: column;

}
.estilo-home{
    width: 100vw;
    height: 90.5vh;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 5px rgb(92, 92, 92);
    align-items: center;
    justify-content: center;
    background-color: #132d47;

}
.estilo-home svg{
    height: 13rem;
    color: white;
    margin-left: 2rem;
}
.nav-estilo{
    background-color: #132d47;
}
.nav-estilo p{
    font-weight: 700;
}
.nav-estilo svg{
    color: #C48900;
}
.style-generos{
    background-color: #132d47;
}
.titulo-generos{
    font-size: 15px;
    margin: 15px;
}
.list-group-item{
    background-color: #132d47!important;
    font-size: 13px;
    color: hsla(0,0%,100%,.5)!important;
    border-bottom: 1px solid hsla(0,0%,100%,.15)!important;
}
.list-group-item:hover{
    color: white!important;
}
.principal{
    background-color: #122231;
    
}
.principal h2{
    font-size: 20px;
    padding: 8px;
}
.card-estilo{
    border-style: none!important;
    box-shadow: 1px 1px 5px rgb(17, 17, 17);
    
}
.card-name{
    background-color: #0b151b;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.card-imagen{
    border: none;
    min-height: 24rem;
}
.card-img-bottom{
    border: none;
}
.row .col .card{
    border: none;
}
.tituloCol1{
    font-weight: bold;
    font-size: 20px;
}
.footer{
    height: 18vh;
    margin-top: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 50px rgb(102, 102, 102);

}